body {
    background-color:transparent;
    color:black;
}

#main {
    width:80%;
    margin:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title {
    padding-top:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:2em;
    color:white;
    margin:auto;
    font-weight:600;
}
#subtitle {
    padding-top:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.5em;
    color:white;
    margin:auto;
    font-weight:600;
}
#article_body {
    margin:auto;
    color:white;
    padding-top:40px;
    text-align:justify;
}

.code_box {
    background-color: black;
    color:white;
    font-family:'Courier New', Courier, monospace;
    border-radius: 5px;
    border:2px solid rgb(128, 128, 128);
    width:50%;
    margin:auto;
    text-align:left;
    padding:3px;
}