body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin: auto;
}

thead {
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures it stays on top */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Adds a slight shadow for visibility */
}

td, th {
    padding: 10px;
    border: 2px solid #ddd;
}

/* Surf score color coding */
.row-red { border: 5px solid red; }
.row-yellow { border: 5px solid yellow; }
.row-orange { border: 5px solid orange; }
.row-light-green { border: 5px solid lightgreen; }
.row-dark-green { border: 5px solid darkgreen; }
.date-row-red { background-color: red; color: white; border: 2px solid black;}
.date-row-orange { background-color: orange; border: 2px solid black; }
.date-row-yellow { background-color:  yellow; border: 2px solid black; }
.date-row-light-green { background-color:  lightgreen;  border: 2px solid black;}
.date-row-dark-green { background-color:  darkgreen;  color: white;  border: 2px solid black;}
.cell-red { background-color: red; color: white; }
.cell-orange { background-color: orange; }
.cell-yellow { background-color: yellow; }
.cell-light-green { background-color: lightgreen; }
.cell-dark-green { background-color: darkgreen; color: white; }

.score-row {
    height: 2px;
    max-height: 2px;
    min-height: 2px;
}

.details-row td {
    padding: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .details-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: #f9f9f9;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .expand-toggle {
    cursor: pointer;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: separate;
  }
